################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BlazorAppPovezivanje/bin/Debug/net7.0
/BlazorAppPovezivanje/obj
/.vs
